name: Build and push to aws

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Restore & Publish
        run: |
          dotnet restore ./calculatorApi.csproj
          dotnet publish ./calculatorApi.csproj -c Release -o site

      - name: Create zip package
        run: |
          cd site
          zip -r ../site.zip .

      - name: Deploy to aws EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: eu-north-1
          application_name: "calculator API"
          environment_name: CalculatorAPI-env
          version_label: ${{ github.run_id }}
          deployment_package: site.zip

        